.card-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-row: 3 / 11; /* Start on row 5 and end on row 11 (exclusive) */
    grid-column: 3 / 11; /* Start on column 3 and end on column 11 (exclusive) */
    overflow: hidden;
    justify-content: space-evenly;
  }
  
  .card {
    width: calc(25% - 20px); /* Adjust the value as needed */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .card + .card {
    margin-left: 8px;
  } 
  
  .card img {
    width: 200%;
    height: auto;
    transform-origin: center;
    transform: scale(110%);
  }

  .homepage {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Create 12 equal-width columns */
    grid-template-rows: repeat(12, 1fr); /* Create 12 equal-height rows */
  }

  .header {
    display: flex;
    justify-content: center;
    font-size: 119px;
    grid-row: 2 / 3; /* Start on row 5 and end on row 11 (exclusive) */
    grid-column: 3 / 11; /* Start on column 3 and end on column 11 (exclusive) */
  }

  .login {
    grid-column: 12 / 13; /* Start on row 5 and end on row 11 (exclusive) */
    background-color: #ffffff00;
    border: 2px solid var(--dark-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
  }

  .arrow-left {
    display: flex;
    justify-content: center;
    grid-row: 6 / 8; /* Start on row 5 and end on row 11 (exclusive) */
    grid-column: 1 / 3; /* Start on column 3 and end on column 11 (exclusive) */
  }

  .arrow-right {
    display: flex;
    justify-content: center;
    grid-row: 6 / 8; /* Start on row 5 and end on row 11 (exclusive) */
    grid-column: 11 / 13; /* Start on column 3 and end on column 11 (exclusive) */
  }

  .arrow-left,
  .arrow-right img {
    transform: scale(60%);
  }