.accordion-button:not(.collapse) {
  color: var(--light-color) !important;
  background-color: var(--dark-color) !important;
}

.accordion-button:not(.collapse)::after {
  filter: brightness(0%) invert(100);
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:hover {
  /* color: var(--light-color) !important; */
  background-color: var(--medium-color) !important;
}

.accordion-collapse {
  background-color: var(--light-color);
}

.era-card {
  margin-bottom: 1rem;
}

.era-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
  }

  h2 {
    color: var(--dark-color);
  }

  .era-copy {
    font-size: 1.5rem;
    line-height: 3rem;
    color: var(--dark-color);
    gap: 2rem;
  }

  .learn-more{
    text-decoration: none;
    color: var(--dark-color);
  }

  .era-card-impressionsunrise img{
    transform: scale(1.7); 
 }

 .card-mobile-impressionsunrise img{
  transform: translateY(-65%) translateX(-50%); 
}

 .era-card-abaratthefoliesbergère img{
  transform: scale(1.8); 
}

.card-mobile-abaratthefoliesbergère img{
  transform: translateY(-30%) translateX(-50%); 
}

.era-card-waterlilies img{
  transform: scale(1.2); 
}

.card-mobile-waterlilies img{
  transform: translateY(-35%) translateX(-50%); 
}

.era-card-danceatthemoulindelagalette img{
  transform: scale(1.5); 
}

.card-mobile-danceatthemoulindelagalette img{
  transform: translateY(-45%) translateX(-50%); 
}

.era-card-starrynightovertherhône img{
  transform: scale(1.5); 
}

.card-mobile-starrynightovertherhône img{
  transform: translateY(-45%) translateX(-50%); 
}

.era-card-womanwithaparasol img{
  transform: scale(1.2); 
}

.card-mobile-womanwithaparasol img{
  transform: translateY(-20%) translateX(-50%); 
}

.era-card-thedanceclass img{
  transform: scale(1.5); 
}

.card-mobile-thedanceclass img{
  transform: translateY(-30%) translateX(-50%); 
}

.era-card-bridgeoverapondofwaterlilies img{
  transform: scale(2.0); 
}

.card-mobile-bridgeoverapondofwaterlilies img{
  transform: translateY(-25%) translateX(-50%); 
}

.era-card-theluncheononthegrass img{
  transform: scale(2.0) translateX(20%); 
}

.card-mobile-theluncheononthegrass img{
  transform: translateY(-30%) translateX(-50%); 
}

.era-card-dancersinblue img{
  transform: scale(1.3); 
}

.card-mobile-dancersinblue img{
  transform: translateY(-50%) translateX(-50%); 
}

  .era-card-thegleaners img{
    transform: scale(1.2); 
 }

 .card-mobile-thegleaners img{
  transform: translateY(-45%) translateX(-50%); 
}

 .era-card-thestonebreakers img{
  transform: scale(1.5); 
}

.card-mobile-thestonebreakers img{
  transform: translateY(-30%) translateX(-50%); 
}

.era-card-olympia img{
  transform: scale(1.2); 
}

.card-mobile-olympia img{
  transform: translateY(-35%) translateX(-50%); 
}

.era-card-aburialatornans img{
  transform: scale(2.0); 
}

.card-mobile-aburialatornans img{
  transform: translateY(-35%) translateX(-50%); 
}

.era-card-therailway img{
  transform: scale(1.2); 
}

.card-mobile-therailway img{
  transform: translateY(-25%) translateX(-50%); 
}

.era-card-thehorsefair img{
  transform: scale(4.5) translateX(5%); 
}

.card-mobile-thehorsefair img{
  transform: scale(1.5) translateY(-35%) translateX(-40%); 
}

.era-card-thethirdclasscarriage img{
  transform: scale(4.0); 
}

.card-mobile-thethirdclasscarriage img{
  transform: translateY(-40%) translateX(-50%); 
}

.era-card-theangelus img{
  transform: scale(2.2); 
}

.card-mobile-theangelus img{
  transform: translateY(-32%) translateX(-50%); 
}

.era-card-thegrainsifters img{
  transform: scale(2.2); 
}

.card-mobile-thegrainsifters img{
  transform: translateY(-35%) translateX(-50%); 
}

.era-card-theabsinthedrinker img{
  transform: scale(1.2); 
}

.card-mobile-theabsinthedrinker img{
  transform: translateY(-20%) translateX(-50%); 
}

  .era-card-wandererabovetheseaoffog img{
    transform: scale(1.2); 
 }

 .card-mobile-wandererabovetheseaoffog img{
  transform: translateY(-40%) translateX(-50%); 
}

 .era-card-libertyleadingthepeople img{
  transform: scale(1.7); 
}

.card-mobile-libertyleadingthepeople img{
  transform: translateY(-20%) translateX(-50%); 
}

.era-card-thenightmare img{
  transform: scale(1.7) translateX(-15%); 
}

.card-mobile-thenightmare img{
  transform: translateY(-20%) translateX(-50%); 
}

.era-card-thefightingtemeraire img{
  transform: scale(1.8); 
}

.card-mobile-thefightingtemeraire img{
  transform: translateY(-70%) translateX(-50%); 
}

.era-card-theslaveship img{
  transform: scale(1.8); 
}

.card-mobile-theslaveship img{
  transform: translateY(-55%) translateX(-50%); 
}

.era-card-theslavemarket img{
  transform: scale(1.2); 
}

.card-mobile-theslavemarket img{
  transform: translateY(-55%) translateX(-50%); 
}

.era-card-thefightingcocks img{
  transform: scale(2.5); 
}

.card-mobile-thefightingcocks img{
  transform: translateY(-45%) translateX(-50%); 
}

.era-card-theoxbow img{
  transform: scale(2.0) translateX(-20%); 
}

.card-mobile-theoxbow img{
  transform: translateY(-60%) translateX(-50%); 
}

.era-card-theexecutionofladyjanegrey img{
  transform: scale(2.0); 
}

.card-mobile-theexecutionofladyjanegrey img{
  transform: translateY(-40%) translateX(-50%); 
}

.era-card-theeveningstar img{
  transform: scale(2.0); 
} 

.card-mobile-theeveningstar img{
  transform: translateY(-55%) translateX(-50%); 
}

.era-card-thedeathofmarat img{
   transform: scale(1.2); 
}

 .era-card-oathofthehoratii img{
  transform: scale(2.0); 
}

.era-card-thesleepofreasonproducesmonsters img{
  transform: scale(1.2); 
}

.era-card-napoleoncrossingthealps img{
  transform: scale(1.3); 
}

.card-mobile-napoleoncrossingthealps img{
  transform: translateY(-20%) translateX(-50%); 
}

.era-card-thethirdofmay1808 img{
  transform: scale(2.0); 
}

.era-card-cupidandpsyche img{
  transform: scale(2.2); 
}

.card-mobile-cupidandpsyche img{
  transform: translateY(-35%) translateX(-50%); 
}

.era-card-theraftofthemedusa img{
  transform: scale(2.5); 
}

.card-mobile-theraftofthemedusa img{
  transform: translateY(-40%) translateX(-50%); 
}

.era-card-theemperornapoleoninhisstudyatthetuileries img{
  transform: scale(1.2); 
}

.card-mobile-theemperornapoleoninhisstudyatthetuileries img{
  transform: translateY(-15%) translateX(-50%); 
}

.era-card-thecoronationofnapoleon img{
  transform: scale(2.6); 
}

.card-mobile-thecoronationofnapoleon img{
  transform: translateY(-60%) translateX(-50%); 
}

.era-card-thehaywain img{
  transform: scale(2.5); 
}

  .era-card-thecallingofstmatthew img{
    transform: scale(2.0); 
 }

 .era-card-theecstasyofstteresa img{
  transform: scale(1.2); 
}

.card-mobile-theecstasyofstteresa img{
  transform: translateY(-35%) translateX(-50%); 
}

.era-card-thenightwatch img{
  transform: scale(2); 
}

.era-card-theconversionofstpaul img{
  transform: scale(1.5); 
}

.card-mobile-theconversionofstpaul img{
  transform: translateY(-20%) translateX(-50%); 
}

.era-card-theraisingofthecross img{
  transform: scale(2.5); 
}

.era-card-thecoronationofthevirgin img{
  transform: scale(1.5); 
}

.card-mobile-thecoronationofthevirgin img{
  transform: translateY(-40%) translateX(-50%); 
}

.era-card-theallegoryofthefaith img{
  transform: scale(1.5); 
}

.era-card-thetriumphofbacchus img{
  transform: scale(2.5); 
}

.card-mobile-thetriumphofbacchus img{
  transform: translateY(-30%) translateX(-50%); 
}

.era-card-thesacrificeofisaac img{
  transform: scale(2.5); 
}

.card-mobile-thesacrificeofisaac img{
  transform: translateY(-25%) translateX(-50%); 
}

.era-card-theanatomylessonofdrnicolaestulp img{
  transform: scale(2.5); 
}

.card-mobile-theanatomylessonofdrnicolaestulp img{
  transform: translateY(-40%) translateX(-50%); 
}


  .era-card-thebayeuxtapestry img{
    transform: scale(2.0); 
 }

 .card-mobile-thebayeuxtapestry img{
  transform: translateY(-30%) translateX(-50%); 
}

 .era-card-thebookofkells img{
  transform: scale(1.5); 
}

.card-mobile-thebookofkells img{
  transform: translateY(-30%) translateX(-50%); 
}

 .era-card-chartrescathedral img{
  transform: scale(1.2); 
}

.card-mobile-chartrescathedral img{
  transform: translateY(-50%) translateX(-50%); 
}

.era-card-thelindisfarnegospels img{
  transform: scale(1.2); 
}

.era-card-theunicorntapestries img{
  transform: scale(1.2); 
}

.era-card-thehoursofcatherineofcleves img{
  transform: scale(2.2) translateX(20%); 
}

.era-card-thedoorsofghiberti img{
  transform: scale(1.2); 
}

.era-card-thewestminsterretable img{
  transform: scale(3.2); 
}

.era-card-thestavelottriptych img{
  transform: scale(2.5); 
}

.era-card-thebookofhoursofjeannedevreux img{
  transform: scale(2.5) translateX(20%);
}

.era-card-thestavelottriptych img{
  transform: scale(2.5); 
}

.era-card-monalisa img{
  transform: scale(1.2); 
}

.card-mobile-monalisa img{
  transform: translateY(-25%) translateX(-50%); 
}

.era-card-thelastsupper img{
  transform: scale(3.0); 
}

.era-card-thebirthofvenus img{
  transform: scale(2.5); 
}

.card-mobile-thebirthofvenus img{
  transform: translateY(-20%) translateX(-50%); 
}

.era-card-thecreationofadam img{
  transform: scale(3.5) translateX(13%); 
}

.era-card-theschoolofathens img{
  transform: scale(2.5); 
}

.era-card-thecreationofeve img{
  transform: scale(2.5) translateX(5%); 
}

.card-mobile-thecreationofeve img{
  transform: translateY(-20%) translateX(-50%); 
}

.era-card-thesistinemadonna img{
  transform: scale(1.2); 
}

.card-mobile-thesistinemadonna img{
  transform: translateY(-15%) translateX(-50%); 
}

.era-card-thelastjudgment img{
  transform: scale(2.0); 
}

.card-mobile-thelastjudgment img{
  transform: translateY(-30%) translateX(-50%); 
}

.era-card-thedavid img{
  transform: scale(1.2); 
}

.card-mobile-thedavid img{
  transform: translateY(-20%) translateX(-50%); 
}

.era-card-primavera img{
  transform: scale(3.5) translateX(-3%); 
}

.card-mobile-primavera img{
  transform: translateY(-30%) translateX(-50%); 
}