@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Almendra+Display&family=Comfortaa&display=swap');

:root {
    --light-color: #f5e8e5;
    --dark-color: #a67264;
    --medium-color: #ff992a;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: 'Playfair Display', serif;
}

h1
 {
    font-family: 'Almendra Display', cursive;
    font-size: 2rem;
}

h2,
h3 {
    font-family: 'Comfortaa', cursive;
}

::selection {
    background-color: var(--medium-color);
    color: var(--light-color);
  }  